<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Generateur_des_etats_de_sage.Properties.Settings.SIAP_COMPTA_SQL_1ConnectionString"
            connectionString="Data Source=SIAP-SERVER;Initial Catalog=&quot;SIAP COMPTA SQL 1&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>